{% extends 'base.html.twig' %}

{% block title %}Accueil - Sneat{% endblock %}

{% block body %}
<h1>Tableau de bord</h1>
<p>Bienvenue sur votre tableau de bord Sneat intégré à Symfony !</p>
{% endblock %}
